Package: waydroid-kiosk
Version: 2.0
Architecture: all
Maintainer: Alperen Aksu <alperenaksu6024@gmail.com>
Depends: cage, waydroid, python3-tk
Homepage: https://github.com/alperenaksu37/waydroid-kiosk
Section: utils
Priority: optional
Description: Waydroid kiosk mode for Cage with prompt as login session
